// bootstrap font bug workaround
$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";

// bootflat bug workaround
$img-src: "../../node_modules/bootflat/bootflat/img/check_flat/default.png";
// override vars here!

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../node_modules/bootflat/bootflat/scss/bootflat.scss";

.fixed-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .side-bar {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    justify-content: space-around;
    z-index: 1;

    .user-info {
      min-height: 60px;
      display: flex;
      align-items: center;
      padding: 5px;
      font-size: 1.3em;
      background-color: #be90d4;
      color: white;

      .user-info-content {
        .logout-button {
          margin-left: 5px;
        }
        margin-left: 5px;
        display: flex;
        align-items: baseline;
      }
    }

    .user-info-avatar {
      border-radius: 5px;
      width: 40px;
      height: 40px;
    }

    .side-bar-nav {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      flex-grow: 1;
    }

    .side-bar-section-header {
      font-size: 1.3em;
      padding: 5px;
    }
    .list-group {
      margin-bottom: 0;
      border-style: none;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    .list-group-item:hover,
    .list-group-item.active-user {
      background-color: ghostwhite;
      font-style: italic;
      font-weight: bold;
      border-radius: 0;
    }

    .direct-message-list-avatar {
      border-radius: 5px;
      margin-right: 5px;
    }

    .channels {
      flex-grow: 1;
    }

    .direct-messsages {
      flex-grow: 1;
    }
  }

  .nav-and-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    z-index: 1;

    .nav-bar {
      display: flex;
      background-color: #be90d4;
      padding: 5px;
      min-height: 60px;
      align-items: center;
    }

    .messages-and-map {
      display: flex;
      flex-grow: 1;

      .map-container {
        flex-grow: 1;
      }
    }
  }
}

.message-interface {
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
  width: 400px;
  // border: 1px solid ECF0F1;

  .messages-container {
    flex-grow: 1;
    overflow-y: scroll;

    .message {
      display: flex;
      padding: 3px 10px;
    }

    .message-info-and-content {
      display: flex;
      flex-direction: column;
      // flex-grow: 1;
      overflow-wrap: normal;
    }
    .message-info {
      display: flex;
    }

    .message-content {
      flex-grow: 1;
      display: flex;
      overflow-wrap: normal;
    }

    .left-of-message {
      padding-right: 10px;
    }

    .message-avatar {
      border-radius: 5px;
      width: 40px;
      height: 40px;
    }

    .message-username {
      margin-right: 5px;
      font-weight: bold;
    }
  }
}
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.chat-bar {
  display: flex;
  min-height: 40px;
}

.message-input {
  width: 100%;
  flex-grow: 1;
  border: none;
}

.s-alert-warning{
  background: indianred;
}
.s-alert-box{
  border-radius: 17px;
}

sidebar{
  width: 200px;
}

#message-submit-button {
  border-radius: 0;
  margin: 0;
}

.login-page-container {
  background-image: url("https://thesweetsetup.com/wp-content/uploads/2016/11/sunrise-blur.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  opacity: 0.7;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
  border-radius: 10px;

  h2 {
     margin: 0 0 1rem;
   }
}

.sign-in-form {
  width: 100%;
}

.login-form-input {
  margin-bottom:.5rem;
}
