// bootstrap font bug workaround
$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";

// override vars here!

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.fixed-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.nav-and-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.messages-and-map {
  display: flex;
  flex-grow: 1;
}

.side-bar {
  background-color: #3498db;
  min-width: 200px;
}

.nav-bar {
  background-color: black;
  color: #3498db;
}

.message-interface {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  min-width: 400px;
}

.message-container {
  flex-grow: 1; 
}

.chat-bar {
  background-color: black;
}

.map-container {
  background-color: #3498db;
  flex-grow: 1;
}