.App {
  height: 100%;
}

html, body {
  height: 100%
}


#main-section {
  padding: 0;
}

.NavBar-title {
  font-size: 1.5em;
}

.SideBar {
  height: 100%;
  float: left;
  background-color: red;
}

.ChatBar {
  background-color: pink;
}

.MapContainer {
  background-color: purple;
}

.MessageList {
  background-color: blue;
  padding: 0;
}
